body{
    flex-wrap: wrap;
    --insetbox_width: 1440px;
    margin: auto;
    position: relative;
}
header{
    display: flex;
    width: 100%;
    background-color: #FFFFFF;
    justify-content: space-between;
    position: sticky;
    top: 0px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 48px;
    height: 48px;
    vertical-align: top;
}
.logo span{
    margin-left: 10px;
}
.logo span a{  
    font-size: 28px;
    text-decoration: none ;
}
.class-other-web{
    display: flex;
    /* width: 720px; */
    align-items: center;
}
.class-other-web ul{
    display: flex;
    justify-content: flex-end;
}
.class-other-web li{
    list-style-type: none;
}
.class-other-web a{
    display: block;
    font-size: 28px;
    padding: 10px 10px 0 ;
    text-decoration: none
    
}
.class-other-web a::after{
    content: '';
    display: block;
    height: 8px;
    width: 100%;
    background-color: red;
    margin-top: 10px;
    transform: scaleX(0);
    transition: .2s;
}
.class-other-web a:hover::after{
    transform: scaleX(1);
}