body{
    flex-wrap: wrap;
    --insetbox_width: 1440px;
    margin: auto;
    position: relative;
}

/* ==================導覽列(header)===================== */

header{
    display: flex;
    width: 100%;
    background-color: #FFFFFF;
    justify-content: space-between;
    position: sticky;
    top: 0px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 48px;
    height: 48px;
    vertical-align: top;
}
.logo span{
    margin-left: 10px;
}
.logo span a{  
    font-size: 28px;
    text-decoration: none ;
}
.class-other-web{
    display: flex;
    /* width: 720px; */
    align-items: center;
}
.class-other-web ul{
    display: flex;
    justify-content: flex-end;
}
.class-other-web li{
    list-style-type: none;
}
.class-other-web a{
    display: block;
    font-size: 28px;
    padding: 10px 10px 0 ;
    text-decoration: none
    
}
.class-other-web a::after{
    content: '';
    display: block;
    height: 8px;
    width: 100%;
    background-color: red;
    margin-top: 10px;
    transform: scaleX(0);
    transition: .2s;
}
.class-other-web a:hover::after{
    transform: scaleX(1);
}

/* ==================主要區(main)===================== */

/* ==================廣告區(advertise)===================== */

.advertise{
    width: 100%;
    background-color: rgb(255,255,255);

}
.advertise-picture{
    width: 1260px;
    margin: auto;
    padding-top: 36px;
}
.advertise-picture img{
    width: 100%;
    vertical-align: top;
}
.advertise-title{
    margin: auto;
    width: 1260px;
    padding-top: 60px;
}
.advertise-title h1{
    font-size: 40px;
    padding: 10px;
    text-align: center;
    font-weight: 900;
}
.advertise-title h1::after{
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 60px;
    background-color: red;
    margin-top: 10px;
}
.advertise-title p{
    text-align: center;
    font-size: 28px;
    padding-top: 60px;
}
.advertise-point{
    width: 1260px;
    display: flex;
}
.advertise-title div{
    width: 420px;
    /* padding: 36px; */
}
.advertise-point{
    margin: auto;
}
.advertise-point div{
    padding: 40px;
}
.advertise-point img{
    width: 100%;
    vertical-align: top;
}
.advertise-point h2{
    width: 100%;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}
.advertise-point p{
    width: 100%;
    font-size: 21px;
    padding-top: 10px ;
    text-align: center;
}

/* ==================講師們(teachers)===================== */
